@model PizzoriaRistorante.Models.DettaglioOrdini

@{
    ViewBag.Title = "Delete";
}

<div class="container bg-dark p-3 mt-3">
    

    <h3 class="fTitle">Are you sure you want to delete this?</h3>
    <div>
        <h4>DettaglioOrdini</h4>
        <hr />
        <dl class="dl-horizontal fForm border border-3 border-warning p-3">
            <dt>
                @Html.DisplayNameFor(model => model.Ordini.ShippingAddress)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ordini.ShippingAddress)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Prodotti.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Prodotti.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Quantity)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                @Html.ActionLink("Torna alla Lista", "Index", new { area = "" }, new { @class = "btn btn-warning" })
            </div>
        }
    </div>
</div>
