@model IEnumerable<PizzoriaRistorante.Models.DettaglioOrdini>

@{
    ViewBag.Title = "Index";
}

<div class="container bg-dark">
    <h2 class="fTitle">Dettaglio Ordine</h2>

    
    <table class="table table-dark tableStyle border border-warning border-3 text-warning">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ordini.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ordini.ShippingAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ordini.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prodotti.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ordini.ShippingAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ordini.Notes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prodotti.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.OrderDetailId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.OrderDetailId }) |
                    @Html.ActionLink("CeckOut", "Delete", new { id = item.OrderDetailId })
                </td>
            </tr>
        }

    </table>
</div>
