@model IEnumerable<PizzoriaRistorante.Models.Prodotti>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create",new { area = "" }, new { @class = "btn-primary" })
</p>

    <div class="container">
        <div class="row g-4">
            
           

            @foreach (var item in Model)
            {
                <div class="col-3">
                    <div class="card h-100 bgColor">
                        <div class="card-img-top">
                            <img src="@Url.Content(string.IsNullOrEmpty(item.Image) ? "~/Content/Images/hotel.jpg" : item.Image)" style="height:200px; width:600px" class="img-fluid" alt="...">
                        </div>
                        <div class="card-body bgColor">
                            <h5 class="card-title"> @Html.DisplayFor(modelItem => item.Name)</h5>
                            <p class="card-text text-truncate">Ingredienti : @Html.DisplayFor(modelItem => item.Ingredients)</p>
                        </div>
                        @using (Html.BeginForm("AggiungiAlCarrello", "Prodotti", new { id = item.ProductId }, FormMethod.Post))
                        {
                            <div class="card-body h-100 bgColor">
                                
                                    <p class="badge bg-warning bgColor">Prezzo: @Html.DisplayFor(modelItem => item.Price)</p>
                                    <p class="badge bg-warning bgColor">Tempo di consegna :  @Html.DisplayFor(modelItem => item.DeliveyTime)</p>
                                
                                <div class="form-group bgColor">
                                    <label for="shippingAddress">Indirizzo di spedizione</label>
                                    <input  type="text" class="form-control" id="shippingAddress" name="shippingAddress" required>
                                    <label for="Notes">Notes</label>
                                    <input type="text" class="form-control" id="Notes" name="Notes">
                                </div>
                                <input type="submit" value="Aggiungi al carrello" class="btn btn-warning mt-2" />
                            </div>
                        }


                        @if (Request.IsAuthenticated)
                        {

                            <div class="card-body bgColor">
                                @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }, new { @class = "btn btn-secondary" }) |
                                @Html.ActionLink("Details", "Details", new { id = item.ProductId }, new { @class = "btn btn-secondary" }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.ProductId }, new { @class = "btn btn-secondary" })
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
