@model IEnumerable<PizzoriaRistorante.Models.DettaglioOrdini>

<h2>Riepilogo Ordine</h2>

<table class="table">
    <thead>
        <tr>
            <th>Prodotto</th>
            <th>Prezzo</th>
            <th>Quantità</th>
            <th>Totale</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Prodotti.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Prodotti.Price)</td>
                <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                <td>@(item.Quantity * item.Prodotti.Price)</td>
                <td>@Html.ActionLink("Rimuovi", "RemoveFromCart", new { id = item.ProductId }, new { @class = "btn btn-danger" })</td>
            </tr>
        }
    </tbody>
</table>

<h3>Totale: @Model.Sum(item => item.Quantity * item.Prodotti.Price)</h3>

@{
    int orderId = Model.FirstOrDefault()?.Ordini.OrderId ?? 0;
}

<p>
    @Html.ActionLink("FinalizzaOrdine", "FinalizzaOrdine", "Prodotti", new { id = orderId }, new { @class = "btn btn-success" })
</p>
<p>@Html.ActionLink("Aggiungi altri prodotti", "Index", "Prodotti", new { area = "" }, new { @class = "nav-link" })</p>
